.popup {
  position: fixed;
  border: 1px solid #aaa;
  background: #fff;
  z-index: 20;
}

.popup-title {
  height: 60px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-title h3 {
  color: #424242;
  font-size: 16px;
  margin-left: 20px;
}

.popup-title i {
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.popup-title i:hover {
  background: calc(2);
}

.popup-content {
  height: calc(100%-60px);
  background: black;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
