.video {
  position: relative;
  overflow: hidden;
}

.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-controls {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  transform: 0.5s;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.video-progress {
  position: relative;
  width: 100%;
  height: 5px;
  background: #222223;
}

.video-progress-now {
  position: absolute;
  width: 0;
  height: 100%;
  background: #ff6a03;
  z-index: 1;
}

.video-progress-suc {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background: #666;
}

.video-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  margin: -4px 0 0 -7px;
  background: white;
  border-radius: 50%;
  z-index: 2;
}

.video-play {
  float: left;
  height: 45px;
  line-height: 45px;
  margin-left: 35px;
}

.video-play i {
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.video-time {
  float: left;
  height: 45px;
  line-height: 45px;
  margin-left: 30px;
  color: white;
}

.video-full {
  float: right;
  height: 45px;
  line-height: 45px;
  margin-right: 20px;
}

.video-full i {
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.video-volume {
  float: right;
  display: flex;
  align-items: center;
  height: 45px;
  margin-right: 30px;
}

.video-volume i {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.video-volprogress {
  position: relative;
  width: 100px;
  height: 5px;
  background: #222223;
  z-index: 2;
}
.video-volprogress-now {
  width: 50%;
  height: 100%;
  background: #ff6a03;
}

.video-volprogress-bar {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 0;
  margin: -4px 0 0 -7px;
  background: white;
  border-radius: 50%;
  z-index: 2;
}
